SITENAME=sitename
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

# Optional variables
# DB_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

ACF_PRO_KEY=b3JkZXJfaWQ9MzQzNTN8dHlwZT1wZXJzb25hbHxkYXRlPTIwMTQtMDctMTAgMTg6MDA6MjA=

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme1'
SECURE_AUTH_KEY='generateme2'
LOGGED_IN_KEY='generateme3'
NONCE_KEY='generateme4'
AUTH_SALT='generateme5'
SECURE_AUTH_SALT='generateme6'
LOGGED_IN_SALT='generateme7'
NONCE_SALT='generateme8'
